<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title> CFDT - Crée un vote</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<<<<<<< HEAD
<body>

<div class="wrapper">
    <div class="sidebar" data-color="black" data-image="assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    CFDT Vote
                </a>
            </div>

            <ul class="nav">
             <li>
                    <a href="/home">
                         <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>

                <li>
                    <a href="/ajouter-votants">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p>Ajouter un votant</p>
                    </a>
                </li>
                <li>
                    <a href="/liste-votants">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p>Liste des votants</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/creer-vote">
                          <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p>Crée un vote</p>
                    </a>
                </li>
                <li>
                     <a href="/liste-votes">
                         <i class="fa fa-list" aria-hidden="true"></i>
                        <p>Liste des votes</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                       <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <p>Statistiques </p>
                    </a>
                </li>
               
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Crée un vote</a>
                </div>
                <div class="collapse navbar-collapse">
                 

                    <ul class="nav navbar-nav navbar-right">
                      
                        <li>
                           <a href="/logout">
                                <p>Déconnexion</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Crée un vote</h4>
                            </div>
                            <div class="content">
                                <form method="post" action="/addvote">
                                    

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Intitulé du vote </label>
                                                <input type="text" name="intitule" class="form-control" placeholder="Type">
                                            </div>
                                        </div>
                                    </div>

                                      <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Type du vote </label>
                                                <input type="text" name="type" class="form-control" placeholder="Intitulé">
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Première réponse possible </label>
                                                <input type="text" name="r1" class="form-control" placeholder="Pour">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Deuxième réponse possible   </label>
                                                <input type="text" name="r2" class="form-control" placeholder="Contre" >
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Crée le vote</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
   

                        </div>
                    </div>

                </div>
            </div>
        </div>


       

    </div>
</div>


                                   

                                    


                                    

=======
  
<body id="addVoteBody">  
  <div id="main"> 
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 content">  
            <h1>Crée un vote</h1>
            <form method="post" action="/addvote">
              <p> Entrez l'intitulé du vote ainsi que le type: décisionnel ou éléctoral.</p>
              </br>
              <input type="text" name="intitule" placeholder="Intitulé du vote.." required>
              <input type="text" name="type" placeholder="Type du vote.." required>
              <button type="submit" value="ajouter vote"> Créer </button>
            </form>
        </div>
        <div class="col-md-4"></div> 
      </div>
    </div>
  </div> 
>>>>>>> ad32e74dc7d96c7e5ece31343b8c965f316cffdb
</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>

</html>
