<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>CFDT - Tableau de bord</title>
 <meta name="viewport" content="width=device-width , initial-scale=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
 
     
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="black" data-image="assets/img/sidebar-5.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    CFDT Vote
                </a>
            </div>

            <ul class="nav">
             <li class="active">
                    <a href="/home">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>

                <li>
                    <a href="/ajouter-votants">
                         <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p>Ajouter un votant</p>
                    </a>
                </li>
                <li>
                     <a href="/liste-votants">
                       <i class="fa fa-users" aria-hidden="true"></i>
                        <p>Liste des votants</p>
                    </a>
                </li>
                <li>
                    <a href="/creer-vote">
                         <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p>Crée un vote</p>
                    </a>
                </li>
                <li>
                 <a href="/liste-votes">
                         <i class="fa fa-list" aria-hidden="true"></i>
                        <p>Liste des votes</p>
                    </a>
                </li>
                
               
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tableau de bord</a>
                </div>
                <div class="collapse navbar-collapse">


                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="/logout">
                                <p>Déconnexion</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Vote 1</h4>
                                <p class="category">STATUTAIRE</p>
                            </div>
                            <div class="content">
                                <div id="chartVote1" class="ct-chart "></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> Pour
                                        <i class="fa fa-circle text-danger"></i> Contre
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Vote 2</h4>
                                <p class="category">RAPPORT ORIENTATION</p>
                            </div>
                            <div class="content">
                                <div id="chartVote2" class="ct-chart "></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> Pour
                                        <i class="fa fa-circle text-danger"></i> Contre
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Vote 3</h4>
                                <p class="category">RAPPORT D'ACTIVITE</p>
                            </div>
                            <div class="content">
                                <div id="chartVote3" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> Pour
                                        <i class="fa fa-circle text-danger"></i> Contre
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"> Vote 4</h4>
                                <p class="category">RAPPORT FINANCIER</p>
                            </div>
                            <div class="content">
                                <div id="chartVote4" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> Pour
                                        <i class="fa fa-circle text-danger"></i> Contre
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Vote 5 </h4>
                                    <p class="category">LISTE DES NOUVEAUX REPRESENTANTS</p>
                                </div>
                                <div class="content">
                                 <div class="footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>



            </div>
        </div>



    </div>
</div>


</body>

    <!--   Core JS Files   -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript">

var test = <%- JSON.stringify(yo) %>;
console.log(test);

    
var dataPreferences = {
	series: [
		[25, 30, 20, 25]
	]
};

var optionsPreferences = {
	donut: true,
	donutWidth: 40,
	startAngle: 0,
	total: 100,
	showLabel: false,
	axisX: {
		showGrid: false
	}
};


var Vote1PourResult = 0;
var Vote1ContreResult = 0;
var Vote1Total = 0;
var Vote1PourPourcentage = 0
var Vote1ContrePourcentage = 0;

var Vote2PourResult = 0;
var Vote2ContreResult = 0;
var Vote2Total = 0;
var Vote2PourPourcentage = 0
var Vote2ContrePourcentage = 0;

var Vote3PourResult = 0;
var Vote3ContreResult = 0;
var Vote3Total = 0;
var Vote3PourPourcentage = 0
var Vote3ContrePourcentage = 0;

var Vote4PourResult = 0;
var Vote4ContreResult = 0;
var Vote4Total = 0;
var Vote4PourPourcentage = 0
var Vote4ContrePourcentage = 0;


for (let i = 0; i < test.length; i++){

    //VOTE 1 RESULTS
        Vote1PourResult =  Vote1PourResult + Number(test[i].vote[0].pour);
        Vote1ContreResult =  Vote1ContreResult + Number(test[i].vote[0].contre);
        Vote1Total = Vote1PourResult + Vote1ContreResult;
        Vote1PourPourcentage =  Vote1PourResult * 100 / Vote1Total;
        Vote1ContrePourcentage =  Vote1ContreResult * 100 / Vote1Total;


    //VOTE 2 RESULTS
        Vote2PourResult =  Vote2PourResult + Number(test[i].vote[1].pour);
        Vote2ContreResult =  Vote2ContreResult + Number(test[i].vote[1].contre);
        Vote2Total = Vote2PourResult + Vote2ContreResult;
        Vote2PourPourcentage =  Vote2PourResult * 100 / Vote2Total;
        Vote2ContrePourcentage =  Vote2ContreResult * 100 / Vote2Total;

    //VOTE 3 RESULTS
        Vote3PourResult =  Vote3PourResult + Number(test[i].vote[2].pour);
        Vote3ContreResult =  Vote3ContreResult + Number(test[i].vote[2].contre);
        Vote3Total = Vote3PourResult + Vote3ContreResult;
        Vote3PourPourcentage =  Vote3PourResult * 100 / Vote3Total;
        Vote3ContrePourcentage =  Vote3ContreResult * 100 / Vote3Total;


    //VOTE 4 RESULTS
        Vote4PourResult =  Vote4PourResult + Number(test[i].vote[3].pour);
        Vote4ContreResult =  Vote4ContreResult + Number(test[i].vote[3].contre);
        Vote4Total = Vote4PourResult + Vote4ContreResult;
        Vote4PourPourcentage =  Vote4PourResult * 100 / Vote4Total;
        Vote4ContrePourcentage =  Vote4ContreResult * 100 / Vote4Total;


}

// Vote 1 statistics 
Chartist.Pie('#chartVote1', dataPreferences, optionsPreferences);
Chartist.Pie('#chartVote1', {
  labels: [Vote1PourPourcentage+ "%",Vote1ContrePourcentage+ "%"],
  series: [Vote1PourPourcentage, Vote1ContrePourcentage ]
});


// Vote 2 statistics 
Chartist.Pie('#chartVote2', dataPreferences, optionsPreferences);
Chartist.Pie('#chartVote2', {
  labels: [Vote2PourPourcentage + "%" ,Vote2ContrePourcentage + "%"],
  series: [Vote2PourPourcentage, Vote2ContrePourcentage ]
});

// Vote 3 statistics 
Chartist.Pie('#chartVote3', dataPreferences, optionsPreferences);
Chartist.Pie('#chartVote3', {
  labels: [Vote3PourPourcentage + "%" ,Vote3ContrePourcentage + "%"],
  series: [Vote3PourPourcentage, Vote3ContrePourcentage ]
});

// Vote 4 statistics 
Chartist.Pie('#chartVote4', dataPreferences, optionsPreferences);
Chartist.Pie('#chartVote4', {
  labels: [Vote4PourPourcentage + "%" ,Vote4ContrePourcentage + "%"],
  series: [Vote4PourPourcentage, Vote4ContrePourcentage ]
});



	</script>

</html>
    
   
   

