<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrateur - Menu</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
</head>
<body>

   

    <!-- <div id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-12 ">

                    <div class="votersList box-shadow--6dp ">
                        <h2><a href="/ajouter-votants">Ajouter un votant</a></br></h2>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>


                    <div class="votersList box-shadow--6dp">
                        <h2><a href="/liste-votants"> Liste votants</a></br></h2>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>

                    <div class="createVote box-shadow--6dp">
                        <h2><a href="/creer-vote"> Crée un vote </a></br></h2>
                        <i class="fa fa-list" aria-hidden="true"></i>
                        
                    </div>


                    <div class="listeVotes box-shadow--6dp">
                            <h2> <a href="/liste-votes"> Liste des votes </a></br></h2>
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div>

                    <div class="listeVotes box-shadow--6dp">
                            <h2> <a href="/logout"> Deconnection </a></br></h2>
                            <i class="fa fa-power-off" aria-hidden="true"></i>

                        </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row demo-tiles">
        <div class="col-xs-3">
          <div class="tile">
            <img src="./images/icons/adduser.svg" alt="Compas" class="tile-image big-illustration">
            <h3 class="tile-title">Ajouter un votant</h3>
            <p>100% convertable to HTML/CSS layout.</p>
            <a class="btn btn-primary btn-large btn-block" href="/ajouter-votants">Ajouter</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="./images/icons/list.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Liste des votants</h3>
            <p>Vector-based shapes and minimum of layer styles.</p>
            <a class="btn btn-primary btn-large btn-block" href="/liste-votants">Administrer</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="./images/icons/vote.svg" alt="Pensils" class="tile-image">
            <h3 class="tile-title">Crée un vote</h3>
            <p>Easy to add or change elements. </p>
            <a class="btn btn-primary btn-large btn-block" href="/creer-vote">Crée</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile tile-hot">
         
            <img src="./images/icons/list.svg" alt="Chat" class="tile-image">
            <h3 class="tile-title">Liste des votes</h3>
            <p>Your likes, shares and comments helps us.</p>
            <a class="btn btn-primary btn-large btn-block" href="/liste-votes">Administrer</a>
          </div>

          

        </div>
      </div> <!-- /tiles -->

    <script src="https://use.fontawesome.com/cdb0e95dfa.js"></script>  
</body>
</html>