<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrateur - Menu</title>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />

  
</head>
<body>

   

    <div id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-12 ">

                    <div class="votersList box-shadow--6dp ">
                        <h2><a href="/ajouter-votants">Ajout votant</a></br></h2>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>


                    <div class="votersList box-shadow--6dp">
                        <h2><a href="/liste-votants"> Liste votants</a></br></h2>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>

                    <div class="createVote box-shadow--6dp">
                        <h2><a href="/creer-vote"> Crée un vote </a></br></h2>
                        <i class="fa fa-list" aria-hidden="true"></i>
                        
                    </div>


                    <div class="listeVotes box-shadow--6dp">

                            <h2> <a href="/liste-votes"> Liste des votes </a></br></h2>
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </div>

                    <div class="listeVotes box-shadow--6dp">
                            <h2> <a href="/logout"> Deconnection </a></br></h2>
                            <i class="fa fa-power-off" aria-hidden="true"></i>

                        </div>

                       

                </div>
            </div>
        </div>
    </div>

    <script src="https://use.fontawesome.com/cdb0e95dfa.js"></script>  
</body>
</html>