<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrateur - Menu</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <span class="bckg"></span>
    <header>
      <h1>Dashboard</h1>
      <nav>
        <ul>
          <li>
            <a href="javascript:void(0);" data-title="Projects">Projects</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Team">Team</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Diary">Diary</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Settings">Settings</a>
          </li>
          <li>
            <a href="javascript:void(0);" data-title="Search">Search</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="title">
        <h2>Projects</h2>
        <a href="javascript:void(0);">Hello Bob !</a>
      </div>
    
      <article class="larg">
        <div>
          <h3>Project 1 <span class="entypo-down-open"></span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
        </div>
        <div>
          <h3>Project 2 <span class="entypo-down-open"></span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
        </div>
        <div>
          <h3>Project 3 <span class="entypo-down-open"></span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
        </div>
      </article>
    </main>



      <script>
      $(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $(".side-nav .collapse").on("hide.bs.collapse", function() {                   
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
    });
    $('.side-nav .collapse').on("show.bs.collapse", function() {                        
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");        
    });
})    
    
    </script>


    <script src="https://use.fontawesome.com/cdb0e95dfa.js"></script>  
</body>
</html>