<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">
</head>
<body>
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-6">
				<p style="text-align: left;">Connecté(e) : <span class="color-orange"><%= user.nom.toUpperCase() %> <%= user.prenom.toUpperCase() %></span></p>

			</div>
			<div class="col-xs-6">
				<p style="text-align: right;"><a href="/logout">Déconnexion</a></p>
			</div>
		</div>
		<header>
			<div class="container-fluid inner-header">
				<div class="row row-inner-header">
					<div class="col-xs-4 col-inner-header">
						<a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
					</div>


					<div class="col-xs-4 col-inner-header">
						<h1>XVIIème CONGRES
							<br/>
						UIR-CFDT</h1>    				
					</div>


					<div class="col-xs-4 col-inner-header">
						<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
					</div>
				</div>
			</div>
		</header>
		<nav>
			<div class="row">
				<div class="col-xs-12">
					<div class="progress">
						<div class="circle done">
							<span class="label done">1</span>
							<span class="nav-title">CHOIX</span>
						</div>
						<span class="bar done"></span>
						<div class="circle done">
							<span class="label done">2</span>
							<span class="nav-title" id="nav-title-confirmation">CONFIRMATION</span>
						</div>
						<span class="bar done"></span>
						<div class="circle done">
							<span class="label done">3</span>
							<span class="nav-title">FIN</span>
						</div>
					</div>
				</div>
			</div>

		</nav>
		<% if (messages.success) { %>
			<% for (let i = 0; i < messages.success.length; i++ ) { %>
				<div class="alert alert-success "><%= messages.success[i]  %></div>
			<% } %>
		<%}%>
		<div>
    		<a href="/homeVoter"><img id="uir-logo" src="./../../images/home.png" alt="UIR logo" style="width: 30px; margin: 0;"></a>
			<p style="font-size: 10px;">Accueil</p>
		</div>
    	</nav>
    	<section>
		    <div class="row title">
		        <h4>VOTE : 
		        	<%= vote.intitule.toUpperCase() %>
		    	</h4>
		    </div>

			<div class="fond-blanc">
				<img class="avote" src="./../../images/avote.png" alt="A voté !">
				<p>Nous vous remercions !</p>
				<p>Votre choix a bien été pris en compte pour ce vote.</p>

				<div class="row">
					<div class="col-lg-12">
						<a href="/homeVoter">					
							<button type="button">
								<h4>Accueil</h4>
							</button>
						</a>
					</div>
				</div>

			</div>		    		
		</section>
	</div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>