<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/connexion.css">
<title>CFDT</title>
</head>

<body>

<div class="container">
    
<div class=" row">
    <div class="col-xs-3">
        <img src="/img/logo.gif">
<!--<button type="button" class="btn btn1 btn-circle btn-xl for">Cfdt:</button> -->
</div>
    <div class="col-xs-9">
<h3 class="ti" >
CONNEXION VOTE CFDT
</h3>
</div>

</div>

<!-- <div class="nav yo navbar-nav navbar-right">
<p> <i class="fa fa-times" aria-hidden="true"></i> Annuler </p>
</div> -->

 </div>
 <!-- /.navbar-collapse -->
 <!-- /.container-fluid -->



<div class="container min">
<div class="row">
        <form role="form" action="/login" role="form" method="post" class="login-form col-md-12" align="center">
            <input type="text" name="email" required  placeholder="Email..."  id="email">
            <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
            <br>
            <br>
            <input type="password" required name="password" placeholder="Password..."  id="password">
            <br>
            <br>
            <a class="text-center" href="#"> J'ai perdu mon mot de passe ?</a>
            <br>
            <br>
            <button class="btn1 btn-lg" type="submit">Se connecter</button>
        </form>
</div>
    </div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>























