
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>renouvellment mdp</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">
	
</head>
<body>
	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>XVIIème CONGRES
		    				<br/>
		    				UIR-CFDT</h1>    				
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
	    			</div>
    			</div>
    		</div>
    	</header>
	<h1> VALIDATION DE MOT DE PASSE</h1>

	<form   method="post" class="login-form col-md-12" align="center">
		<div class="form-group" >
			<label>Nouveau Mot de Passe: </label>
			<input type="password" required name="password" value='' placeholder=" nouveau mot de passe !">
		</div>
		<div class="form-group" >
			<label> Confirmer Mot de Passe: </label>
			<input type="password" required name="confirm" value='' placeholder="Validez votre mot de passe!">
		</div>
		<button class="btn1 btn-lg" type="submit">confirmer mdp</button>
		
	</form>
</body>
</html>
